In [2]:
import extract
import pandas as pd
import numpy as np
import time
import re
import warnings
warnings.filterwarnings('ignore')

### Download tweets

In [5]:
open_nodes = pd.read_csv("df_nodes.csv")
ids = set(open_nodes["tweet_id"])
del open_nodes

In [7]:
a = extract.DownloadTweets(ids)
a.to_csv()

Output()

In [34]:
#dataframe con tutti gli tenti non unici anche se non fanno parte della rete
tweets=pd.read_csv('DownloadTweets.csv')
tweets=tweets.set_index('author_id')
tweets.rename(columns={'Unnamed: 0':'tweet_id'}, inplace=True) 
tweets

,tweet_id,text
author_id,,
1333145208981221378,1503459791456567296,RT @micpbfernandes: Militares ucranianos já es...
1346309308791758849,1503187831476584448,RT @SittiHajarW: Presiden Ukraina Zelenskyy - ...
1497785459564769284,1503393385994125314,RT @SuryawardhanSi2: #I support Russia #IStand...
321777775,1503511076943822851,RT @soni98248371: 5:56\n\n#戦争反対\n#NoWar\n#Stop...
4284308894,1503353069882703875,RT @_aaveshka: Blood-thirsty economy brought t...
...,...,...
1459069635270262790,1502731148732022787,RT @kuzcoblaze: #IStandWithPutin #IStandWithRu...
1265119698980466688,1502334862425919489,RT @LisaPetsinis: I stand in #solidarity with ...
1220091290043539458,1502150739862294529,RT @Raffi_RC: every bit of good news helps. #S...
1428195755941060613,1503408347768307716,RT @theashtonblaise: #IStandWithPutin is trend...
1441410017635160064,1503125887356571650,RT @UaOpir: French activist Pierre Afner broke...

In [44]:
tweets['text'][248705110]

KeyError: 248705110

In [26]:
#dataframe con tutti gli utenti UNICI
df_nodes=pd.read_csv('df_final_nodes.csv')
df_nodes=df_nodes.set_index('node')
del df_nodes['Unnamed: 0']
df_nodes

                     category
node
290883                    pax
1471971                proukr
2052911                   pax
2827221              dontcare
3688111                proukr
...                       ...
1502695274241826818       pax
1502720034971521026    proukr
1502799611379036163    prorus
1502964238033297408    proukr
1502964370095341569       pax

[10184 rows x 1 columns]

In [27]:
set_nodi=set(df_nodes.index)
len(set_nodi)

10184

In [5]:
#STRATEGIA: unire con let join e dove cat e nan, rimuvere righe

In [6]:
df3=tweets.join(df_nodes, lsuffix="_left", rsuffix="_right",how='left')
df3.index.names=['user_id']
df3

,tweet_id,text,category
user_id,,,
290883,1502663077191426051,RT @LGalloway77: Good morning everyone. Yet an...,pax
298073,1503178785746685954,RT @JuPe_EU: @KyivPost Today 82 years ago Finl...,NaN
611093,1501988978345627654,RT @gorodetskaya: #Odesa/#Odessa military orch...,NaN
699793,1502982769219371008,RT @komitet2012: Russian army keeps supplying ...,NaN
756049,1502704662138568705,RT @mariamgegu: Video message from Georgian fi...,NaN
...,...,...,...
1503162475440705540,1503320717257056265,RT @grupaepl: #SlavaUkraini https://t.co/oa1cV...,NaN
1503222685484081154,1503248107512942593,RT @mier36216723: Italians took to the streets...,NaN
1503322318461968385,1503421219877568515,RT @ZOIlppvC0o1HMH7: #IStandWithPutin\n#StandW...,NaN
1503337678225424384,1503343250727477250,"RT @cassouman40: Dans ma photothèque, en reche...",NaN
1503376008518512647,1503403800400384003,RT @findersen: Власти #РФ просят подписать как...,NaN

In [7]:
df3['category'].isnull().sum()

25539

In [8]:
df3.dropna(axis=0, inplace=True)
df3.shape

(19315, 3)

In [9]:
df3=df3.sort_index()
df3

,tweet_id,text,category
user_id,,,
290883,1502663077191426051,RT @LGalloway77: Good morning everyone. Yet an...,pax
2052911,1502403723032735745,RT @TerryEnga: #JohnsonOut46 Bring in a Govern...,pax
2052911,1501677263544279042,RT @lingardenisle: Will Russia sanction Conser...,pax
2052911,1502624368257556489,RT @lingardenisle: Our #Tory government could ...,pax
2052911,1501672144455020556,RT @TerryEnga: #JohnsonOut44 Bring in a Govern...,pax
...,...,...,...
1502695274241826818,1502704114534395906,RT @joncoopertweets: The sun rose on Ukraine t...,pax
1502720034971521026,1502997875806154759,RT @Justasjazz: @AUCHAN_France do we really ne...,proukr
1502799611379036163,1502848107264065543,RT @WallStreetQuee2: @joncoopertweets @IAPonom...,prorus
1502964238033297408,1503114010086064136,RT @UkraineWar24_02: Russia dropped a hydrogen...,proukr
1502964370095341569,1503028677088804864,RT @jeforse: @ukraine_world @u3Y4BDE #SlavaUkr...,pax

# Translate tweets

In [10]:
#dividere dataset in 2 (9658: e :9658). tradurli e poi merge

In [11]:
df1=df3[:9658]
df1

,tweet_id,text,category
user_id,,,
290883,1502663077191426051,RT @LGalloway77: Good morning everyone. Yet an...,pax
2052911,1502403723032735745,RT @TerryEnga: #JohnsonOut46 Bring in a Govern...,pax
2052911,1501677263544279042,RT @lingardenisle: Will Russia sanction Conser...,pax
2052911,1502624368257556489,RT @lingardenisle: Our #Tory government could ...,pax
2052911,1501672144455020556,RT @TerryEnga: #JohnsonOut44 Bring in a Govern...,pax
...,...,...,...
4185034305,1503406407806291980,RT @LucillaMasini: #albano #14Marzo #Putin #St...,proukr
4192145116,1502935589284425729,RT @LGalloway77: Dear Prime Minister. We see y...,proukr
4192961459,1503493856293269504,"RT @Sacha_Koula: Chilling records of beating, ...",pax
4192961459,1501867774561378306,RT @soskinderdorf: Endlich in Sicherheit: Wir ...,pax
4192961459,1502669157539713027,RT @AgBioWorld: Ukrainian farmlands serving th...,pax

In [12]:
df2=df3[9658:]
df2

,tweet_id,text,category
user_id,,,
4194599482,1502930259439755269,RT @LGalloway77: Dear Prime Minister. We see y...,prorus
4197365239,1501701641954906115,RT @persistentpengn: #LongLiveUkraine 🇺🇦 #Slav...,proukr
4198974743,1502323426509430792,RT @ZahraSharifova: @DmytroKuleba #StopPutin \...,proukr
4200555579,1502690662357078017,RT @sfpelosi: I love it 💙💛🇺🇦 #SlavaUkraini,proukr
4200555579,1502818248156487683,RT @TonyHussein4: The Ukrainian Ministry of De...,proukr
...,...,...,...
1502695274241826818,1502704114534395906,RT @joncoopertweets: The sun rose on Ukraine t...,pax
1502720034971521026,1502997875806154759,RT @Justasjazz: @AUCHAN_France do we really ne...,proukr
1502799611379036163,1502848107264065543,RT @WallStreetQuee2: @joncoopertweets @IAPonom...,prorus
1502964238033297408,1503114010086064136,RT @UkraineWar24_02: Russia dropped a hydrogen...,proukr
1502964370095341569,1503028677088804864,RT @jeforse: @ukraine_world @u3Y4BDE #SlavaUkr...,pax

In [13]:
from deep_translator import GoogleTranslator

In [14]:
to_translate = 'I want to translate this text'
translated = GoogleTranslator(source='auto', target='de').translate(to_translate)
translated

'Ich möchte diesen Text übersetzen'

In [15]:
import socket
from urllib3.connection import HTTPConnection

HTTPConnection.default_socket_options = (
    HTTPConnection.default_socket_options + [
        (socket.SOL_SOCKET, socket.SO_KEEPALIVE, 1),
        (socket.SOL_TCP, socket.TCP_KEEPIDLE, 45),
        (socket.SOL_TCP, socket.TCP_KEEPINTVL, 10),
        (socket.SOL_TCP, socket.TCP_KEEPCNT, 6)
    ])

def trad(stringa):
    translated = GoogleTranslator(source='auto', target='en').translate(stringa)
    return translated

In [16]:
df1['text']=df1['text'].map(trad)

C:\Users\david\AppData\Local\Temp\ipykernel_21424\2104931107.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['text']=df1['text'].map(trad)

In [17]:
df1['text']

user_id
290883        RT @LGalloway77: Good morning everyone. Yet an...
2052911       RT @TerryEnga: #JohnsonOut46 Bring in a Govern...
2052911       RT @lingardenisle: Will Russia sanction Conser...
2052911       RT @lingardenisle: Our #Tory government could ...
2052911       RT @TerryEnga: #JohnsonOut44 Bring in a Govern...
                                    ...
4185034305    RT @LucillaMasini: #albano #14Marzo #Putin #St...
4192145116    RT @LGalloway77: Dear Prime Minister. We see y...
4192961459    RT @Sacha_Koula: Chilling records of beating, ...
4192961459    RT @soskinderdorf: Finally safe: We were able ...
4192961459    RT @AgBioWorld: Ukrainian farmlands serving th...
Name: text, Length: 9658, dtype: object

In [18]:
df1.to_csv('tweets_trad_parte1.csv')

In [19]:
df2['text']=df2['text'].map(trad)

C:\Users\david\AppData\Local\Temp\ipykernel_21424\1487215483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['text']=df2['text'].map(trad)

In [20]:
df2.to_csv('tweets_trad_parte2.csv')

In [21]:
#merge df1 and df2 
#df1=pd.read_csv('tweets_trad_parte1.csv')
#df2=pd.read_csv('tweets_trad_parte2.csv')
df3=pd.concat([df1,df2])
df3

,tweet_id,text,category
user_id,,,
290883,1502663077191426051,RT @LGalloway77: Good morning everyone. Yet an...,pax
2052911,1502403723032735745,RT @TerryEnga: #JohnsonOut46 Bring in a Govern...,pax
2052911,1501677263544279042,RT @lingardenisle: Will Russia sanction Conser...,pax
2052911,1502624368257556489,RT @lingardenisle: Our #Tory government could ...,pax
2052911,1501672144455020556,RT @TerryEnga: #JohnsonOut44 Bring in a Govern...,pax
...,...,...,...
1502695274241826818,1502704114534395906,RT @joncoopertweets: The sun rose on Ukraine t...,pax
1502720034971521026,1502997875806154759,RT @Justasjazz: @AUCHAN_France do we really ne...,proukr
1502799611379036163,1502848107264065543,RT @WallStreetQuee2: @joncoopertweets @IAPonom...,prorus
1502964238033297408,1503114010086064136,RT @UkraineWar24_02: Russia dropped a hydrogen...,proukr
1502964370095341569,1503028677088804864,RT @jeforse: @ukraine_world @u3Y4BDE #SlavaUkr...,pax

In [22]:
df3.to_csv('all_tweets_trad.csv')

In [24]:
df=pd.read_csv('all_tweets_trad.csv')

In [25]:
#check if all users are present
df=df.set_index('user_id')
len(set(df.index))

9467

In [28]:
set_nodi=set(df_nodes.index)
len(set_nodi)

10184

In [31]:
len(set_nodi-set(df.index))

717

In [33]:
nodi_mancanti=set_nodi-set(df.index)
nodi_mancanti #non presenti nel dataset con tutti utenti distinti: capire perchè

{1471971,
 11567702,
 12610772,
 13301942,
 14446152,
 14496536,
 15176236,
 15341755,
 15465785,
 15521789,
 15654137,
 15713194,
 15727736,
 16156052,
 17012173,
 17652526,
 17686959,
 17797650,
 18058085,
 18600732,
 18838712,
 19181564,
 19734438,
 20624058,
 20862590,
 20911915,
 20993014,
 21483883,
 21657066,
 22539487,
 22801237,
 23459423,
 23937235,
 24040718,
 24974998,
 25210758,
 25470319,
 27189424,
 27399921,
 27677391,
 29421688,
 29728444,
 31342932,
 31442310,
 31994671,
 32165709,
 32206125,
 32839217,
 32920518,
 34010230,
 36111440,
 37204163,
 37724859,
 39282932,
 45019540,
 48650713,
 48877205,
 49447916,
 49491544,
 50484454,
 51448900,
 51467779,
 51639017,
 54872964,
 56751272,
 57249301,
 58247771,
 58594493,
 60651296,
 61272407,
 63125168,
 65535162,
 66498005,
 69653030,
 71761060,
 75794724,
 79311103,
 82894463,
 83756306,
 84535305,
 87250666,
 88252748,
 92984487,
 93040337,
 94457797,
 99332835,
 100469505,
 101621819,
 102929461,
 104887943,
 108393304,
 110525656,
 110564264,
 112934639,
 114232355,
 114355626,
 115638729,
 119322388,
 121756913,
 122808422,
 125441290,
 126203618,
 128637146,
 129555767,
 131394224,
 135024196,
 135568360,
 138101468,
 143242728,
 145619730,
 151892078,
 152409595,
 152606632,
 156504737,
 162369733,
 162570828,
 162593092,
 166714138,
 173058421,
 175604092,
 177157771,
 180552598,
 188043200,
 189567916,
 189868973,
 190000476,
 191203584,
 196751458,
 198476237,
 198955467,
 199035222,
 206529413,
 208805602,
 224427167,
 226570959,
 235653267,
 236412129,
 237045706,
 238364044,
 238640554,
 239388228,
 243180009,
 244279318,
 244933292,
 248705110,
 249342262,
 257136653,
 258741909,
 259118891,
 259510473,
 261786049,
 263338731,
 265406354,
 266165718,
 267045979,
 278603601,
 278862517,
 283708433,
 287048062,
 288151194,
 295687056,
 297447292,
 305661348,
 305806711,
 307112700,
 321589716,
 329347574,
 331111579,
 332080277,
 332090722,
 334099687,
 334302629,
 336232230,
 341805227,
 342987607,
 343797517,
 355376282,
 366529346,
 370570042,
 380566939,
 382260034,
 383936485,
 386213355,
 390061063,
 391933746,
 392288903,
 396026795,
 396312747,
 398024643,
 398100478,
 407303421,
 413212673,
 417355686,
 435164767,
 463911801,
 464289318,
 470290675,
 477326820,
 477713406,
 492500754,
 499505782,
 500394505,
 515006515,
 526041680,
 549697565,
 551338399,
 554758317,
 559977786,
 563880180,
 565652374,
 587767105,
 611853672,
 618390979,
 623030031,
 767731717,
 791644933,
 794894330,
 811757551,
 815213509,
 823296060,
 825847554,
 827960660,
 831754963,
 856959757,
 864700002,
 885725444,
 930960672,
 936227640,
 938145907,
 980675970,
 984908701,
 987759248,
 1017660930,
 1023464803,
 1039063154,
 1045412502,
 1052526938,
 1071883141,
 1078364808,
 1099038462,
 1122008400,
 1134921242,
 1217487751,
 1247874902,
 1258712054,
 1263044024,
 1278191406,
 1283798035,
 1342744531,
 1361430312,
 1385420952,
 1385711820,
 1424491747,
 1456790618,
 1520074039,
 1537293954,
 1650861697,
 1667551495,
 1726201231,
 1852566217,
 1890713911,
 1928987790,
 1967614184,
 2152584757,
 2165952774,
 2174925633,
 2194543537,
 2198357618,
 2200188236,
 2200188788,
 2206169672,
 2212822237,
 2229071948,
 2251908712,
 2255339388,
 2271151776,
 2279320206,
 2288843750,
 2296151025,
 2365160321,
 2409451987,
 2415176101,
 2424494346,
 2445684965,
 2459130996,
 2472170366,
 2484582918,
 2536233330,
 2536670344,
 2546122203,
 2556734218,
 2573819212,
 2575115489,
 2588045113,
 2614696429,
 2671008314,
 2737430468,
 2745195501,
 2771643113,
 2772145132,
 2775517100,
 2835390941,
 2843414261,
 2848802507,
 2865493450,
 2879293835,
 2879451141,
 2881350169,
 2885381565,
 2916094244,
 2916750281,
 2917445695,
 2949142601,
 2951215268,
 2963634915,
 2984260990,
 3003908155,
 3021258574,
 3037190793,
 3042234836,
 3088183988,
 3098129598,
 3107281715,
 3139558693,
 3146284079,
 3147943743,
 3177200475,
 3182188760,
 3224385975,
 3225625003,
 3226662488,
 3230411055,
 3256462675,
 3257240667,
 3283283438,
 3291874228,
 3319605889,
 3387091393,
 3389035078,
 3411004725,
 3414230123,
 3416016298,
 3434777843,
 3435601349,
 3878263835,
 4115780194,
 4161314375,
 4201996751,
 4474662792,
 4487948292,
 4502549602,
 4548360677,
 4570684816,
 4705196303,
 4786222385,
 4795066396,
 4912790312,
 705121858580934657,
 706445607037181952,
 708975824255524865,
 709755503304429568,
 719763248975884288,
 721706763813138432,
 724340188890206208,
 726738027586920448,
 733285407627022337,
 739158247920140289,
 740194846346973184,
 743205840329543680,
 743737204577447936,
 745143590385377280,
 746099167056007168,
 746410132255301632,
 746665479759073280,
 749680367490174976,
 751265747771338752,
 754144359918874633,
 756626345862586368,
 758709829066252288,
 762718370638594048,
 765522608494444544,
 766565977819578368,
 771484577793576960,
 780581305117315072,
 781930601519669248,
 785646553423687680,
 795404565260734465,
 798982414018220032,
 799796448590266368,
 800074295292542976,
 803632522592555009,
 804218683413426177,
 806625064993116161,
 807302367423168512,
 813800480430292995,
 814000958770413568,
 818910361944555520,
 821209893113712640,
 822340908737822720,
 822721631785259009,
 822829415109246976,
 823266816852008961,
 823321464233480193,
 823663695037337600,
 823755885054869504,
 824808971261378560,
 826263229076733952,
 826456955858194433,
 826478819288678400,
 828810543918088197,
 830120804767645696,
 830923167086546945,
 831993680890179585,
 832770671486722048,
 833384074345644032,
 841470193448714240,
 842636957515726849,
 843489026875232261,
 843819562160209920,
 844299286653362177,
 845000959575019520,
 846766919684378625,
 849641087367094274,
 851894658682699777,
 852660710832308224,
 853190786095210496,
 856131595518005253,
 858509735607361536,
 859449836008947713,
 860522709100318724,
 862293912492310528,
 867643763493027840,
 873087053952466945,
 874860747410599937,
 883529255853867008,
 884207218215854080,
 885224729417625604,
 890491039638839297,
 891963858193178624,
 891965625819701248,
 904246070506528768,
 905598153331703809,
 911028990613364738,
 912387111520690178,
 912746399749562368,
 913727981390057474,
 916656611787198465,
 921323058924871680,
 923152603432747009,
 924015786561335296,
 925414928659501056,
 926030701513846785,
 928915202472636416,
 930100918737096704,
 932048245450313728,
 935538480330964995,
 937639166728331264,
 937640623657635841,
 938071805008470017,
 939035031564992512,
 940751500598566915,
 941507199028752384,
 945620488012824583,
 946094039283089411,
 947960652974325760,
 948593218991591424,
 955181209084035072,
 956629978505818113,
 964166442420703233,
 964611137168789504,
 965346876529688576,
 974368908227485696,
 974414281658822658,
 974997814651518976,
 975132832291958784,
 977147967831527424,
 977737044725137408,
 977904649645813760,
 980590290573627397,
 981436419087523840,
 981674260476424192,
 984137470035025920,
 985130178140487680,
 987156331055337473,
 988510270296412161,
 997097702172385280,
 1004096727207632896,
 1005013384910143489,
 1006986435663147009,
 1008787323918614529,
 1010217905437511681,
 1011234980196782081,
 1013477242146439168,
 1014280152166092800,
 1014877895213355010,
 1014921195580477440,
 1021500405019275265,
 1024980836368769026,
 1031214370561425408,
 1031670521514082304,
 1035998524738076679,
 1037663718686031879,
 1037945225023389696,
 1045696911544594432,
 1046412379821682690,
 1049050243495591936,
 1056908257569202176,
 1061989359744925697,
 1064266893551382529,
 1065746690769125376,
 1068939776278052865,
 1070450503262171136,
 1073218876375105536,
 1075669260666589186,
 1082025704420720640,
 1082994585490653186,
 1083358959174438913,
 1084961002410598400,
 1088127352327032832,
 1094648477060136961,
 1095146858849038341,
 1099823787539816448,
 1104979660650225664,
 1109580312168841216,
 1110299494246039552,
 1112093841417486348,
 1123745970578173957,
 1128640661605851136,
 1130679137797066752,
 1131560557180588032,
 1133130158108545025,
 1134052429601763328,
 1135752077739794433,
 1145879930779160576,
 1147687782153883652,
 1151892119398670336,
 1152565186064277504,
 1154525124122546176,
 1176879169227165696,
 1178022762411184128,
 1180455408839938048,
 1181931694212964352,
 1182645526115713032,
 1183984480232595457,
 1194801500498931712,
 1195757010723184640,
 1196293014269902848,
 1198991763425386496,
 1209249079114383360,
 1210233737356730368,
 1212953052358955009,
 1214257932197453824,
 1218108391022845952,
 1222901984811896838,
 1223322908329529345,
 1224412787121754117,
 1231320224483418112,
 1233103535136485377,
 1240691449127206913,
 1242503083453751298,
 1245422747238518784,
 1245475198931013634,
 1248622120327774210,
 1251961209810796550,
 1253688657925378050,
 1255952800074399750,
 1258044267588509699,
 1261454171636527105,
 1265336163004551168,
 1265769031572865029,
 1266369764026224640,
 1266866592421298176,
 1267407529543446528,
 1267795124161044480,
 1268714712948146181,
 1271001810153746433,
 1274499149996703744,
 1275491660298883074,
 1276376587378855936,
 1276416237669670913,
 1279024951949881344,
 1283861200607027201,
 1284653176767967233,
 1285196804833914880,
 1290295818361200640,
 1292220531211554817,
 1293311746199842816,
 1293538435077201920,
 1296567329556398080,
 1299598786583461888,
 1303412356156850177,
 1304772605329768450,
 1307865457903448064,
 1308186530079539201,
 1310119891278745600,
 1311119304339980290,
 1313944235452891144,
 1316041588632629250,
 1316420516740292609,
 1316988731593617410,
 1317221478903971840,
 1319415289990270978,
 1319599285407711232,
 1320939350708932614,
 1321034651042041856,
 1323956656485650432,
 1325231934314721281,
 1325970025434533889,
 1327588890933407744,
 1328213293475930112,
 1329572377513091072,
 1330245871078940672,
 1331766523640369153,
 1335589091006705664,
 1341477067267985409,
 1345016349697961984,
 1345434550193717250,
 1345986548479754241,
 1347685325527609345,
 1349772471344353280,
 1349981201378004992,
 1350539761614688256,
 1350840802726064135,
 1351757057377116163,
 1361566827483168768,
 1361938168639942659,
 1369983626453078023,
 1369986792162799622,
 1371109575391375360,
 1374924991767121920,
 1379573708545789955,
 1379903703960936455,
 1380022853395828736,
 1380810207291351046,
 1382687227587788803,
 1383812395542274055,
 1385563659640971264,
 1385621981828165632,
 1387518702573166594,
 1392566352800620550,
 1392571457356636160,
 1393723511085142017,
 1397751737503649792,
 1400506890883276800,
 1402047019645026305,
 1403090541080940549,
 1408440386079571971,
 1409889661825204237,
 1411404810461589505,
 1412039308731727873,
 1414257577064419332,
 1416516578498203649,
 1417500608429543424,
 1418525039830474755,
 1419646597659512838,
 1421199317856096259,
 1422638831329808392,
 1427315580940394506,
 1428757526288420867,
 1429026536167022595,
 1432024248852389903,
 1432775774684073995,
 1432825865600217088,
 1434574011925630977,
 1435430791144562688,
 1439385976359383041,
 1439682927118454785,
 1440664285210767367,
 1441059736498094081,
 1444026508637392896,
 1444696157217824777,
 1449802523427098639,
 1452766518073298951,
 1454947945204301824,
 1457428041194377218,
 1459949289929678854,
 1461490215437193221,
 1462392707943309316,
 1468871472827535360,
 1469513863636733954,
 1470904082089091073,
 1472029043876937728,
 1472633051964448776,
 1474443157714739203,
 1475295506423291905,
 1477297140967907331,
 1479082295961210890,
 1479110881040498693,
 1479635653960900609,
 1479934651900866560,
 1484856820023758848,
 1485388309362790405,
 1485675218043641859,
 1486314945683853314,
 1487159710105149441,
 1488992183411777536,
 1491415800149856259,
 1492110555108319236,
 1493314921882390537,
 1493611614804840450,
 1494606505005490177,
 1495306993342595073,
 1495758889710665729,
 1496754169083875331,
 1496981226820759556,
 1497188312620089349,
 1497296506528968717,
 1497565741800960009,
 1497842460223016964,
 1498197555947184129,
 1498273976946204678,
 1498296417558925316,
 1499525597491609601,
 1500066105204826113,
 1500910062117736453,
 1500935347982770187,
 1501906132637741057}

# Sentiment Analysis

In [9]:
df_copy=df.set_index('user_id')

In [10]:
df_copy=df_copy[~df_copy.index.duplicated(keep='first')]
df_copy.shape

(9467, 3)

In [33]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [34]:
#manca pulire tweets

In [35]:
scores = []
# Declare variables for scores
compound_list = []
positive_list = []
negative_list = []
neutral_list = []
for i in range(df['text'].shape[0]):
#print(analyser.polarity_scores(sentiments_pd['text'][i]))
    compound = analyzer.polarity_scores(df['text'][i])["compound"]
    pos = analyzer.polarity_scores(df['text'][i])["pos"]
    neu = analyzer.polarity_scores(df['text'][i])["neu"]
    neg = analyzer.polarity_scores(df['text'][i])["neg"]
    
    scores.append({"Compound": compound,
                       "Positive": pos,
                       "Negative": neg,
                       "Neutral": neu
                  })
    
sentiments_score = pd.DataFrame.from_dict(scores)
df = df.join(sentiments_score)

In [36]:
df=df.set_index('user_id')
df

,tweet_id,text,category,Compound,Positive,Negative,Neutral
user_id,,,,,,,
290883,1502663077191426051,RT @LGalloway77: Good morning everyone. Yet an...,pax,0.6124,0.208,0.000,0.792
2052911,1502403723032735745,RT @TerryEnga: #JohnsonOut46 Bring in a Govern...,pax,0.0000,0.000,0.000,1.000
2052911,1501677263544279042,RT @lingardenisle: Will Russia sanction Conser...,pax,0.4019,0.197,0.000,0.803
2052911,1502624368257556489,RT @lingardenisle: Our #Tory government could ...,pax,0.2732,0.087,0.000,0.913
2052911,1501672144455020556,RT @TerryEnga: #JohnsonOut44 Bring in a Govern...,pax,0.0000,0.000,0.000,1.000
...,...,...,...,...,...,...,...
1502695274241826818,1502704114534395906,RT @joncoopertweets: The sun rose on Ukraine t...,pax,0.7506,0.262,0.000,0.738
1502720034971521026,1502997875806154759,RT @Justasjazz: @AUCHAN_France do we really ne...,proukr,-0.6908,0.000,0.183,0.817
1502799611379036163,1502848107264065543,RT @WallStreetQuee2: @joncoopertweets @IAPonom...,prorus,0.0000,0.000,0.000,1.000
1502964238033297408,1503114010086064136,RT @UkraineWar24_02: Russia dropped a hydrogen...,proukr,-0.4939,0.000,0.198,0.802
1502964370095341569,1503028677088804864,RT @jeforse: @ukraine_world @u3Y4BDE #SlavaUkr...,pax,0.0000,0.000,0.000,1.000

In [37]:
# create a list of our conditions
conditions = [
    (df['Compound'] <= -0.5),
    (df['Compound'] > -0.5) & (df['Compound'] < 0.5),
    (df['Compound'] > 0.5)
    ]

# create a list of the values we want to assign for each condition
values = ['Negative', 'Neutral', 'Positive']

# create a new column and use np.select to assign values to it using our lists as arguments
df['Category'] = np.select(conditions, values)
df.head()

,tweet_id,text,category,Compound,Positive,Negative,Neutral,Category
user_id,,,,,,,,
290883,1502663077191426051,RT @LGalloway77: Good morning everyone. Yet an...,pax,0.6124,0.208,0.0,0.792,Positive
2052911,1502403723032735745,RT @TerryEnga: #JohnsonOut46 Bring in a Govern...,pax,0.0000,0.000,0.0,1.000,Neutral
2052911,1501677263544279042,RT @lingardenisle: Will Russia sanction Conser...,pax,0.4019,0.197,0.0,0.803,Neutral
2052911,1502624368257556489,RT @lingardenisle: Our #Tory government could ...,pax,0.2732,0.087,0.0,0.913,Neutral
2052911,1501672144455020556,RT @TerryEnga: #JohnsonOut44 Bring in a Govern...,pax,0.0000,0.000,0.0,1.000,Neutral

In [46]:
type(df['Category'][290883])

str

In [53]:
users=set(df.index)
for u_set in users:
    user=[]
    cat1=[]
    cat2=[]
    pos=0
    neg=0
    neutr=0
    for u in df.index:
        if u_set==u:
            if [df['Category'][u]=='Positive']==True:
                pos += 1 
            elif [df['Category'][u]=='Negative']==True:  
                neg += 1 
            elif [df['Category'][u]=='Neutral']==True:
                neutr +=1 
        if max(pos,neg,neutr)==pos:
            cat2.append('Positive')
        elif max(pos,neg,neutr)==neg:
            cat2.append('Negative')
        elif max(pos,neg,neutr)==neutr:
            cat2.append('Neutral')       
        user.append(u_set)
        cat1.append(df['category'][u_set])

In [54]:
final_df=pd.DataFrame({'user_id': user,
                      'cat1':cat1,
                      'cat2':cat2})
final_df

                   user_id    cat1      cat2
0      1462733740090736644  proukr  Positive
1      1462733740090736644  proukr  Positive
2      1462733740090736644  proukr  Positive
3      1462733740090736644  proukr  Positive
4      1462733740090736644  proukr  Positive
...                    ...     ...       ...
19310  1462733740090736644  proukr  Positive
19311  1462733740090736644  proukr  Positive
19312  1462733740090736644  proukr  Positive
19313  1462733740090736644  proukr  Positive
19314  1462733740090736644  proukr  Positive

[19315 rows x 3 columns]

In [55]:
final_df.to_csv('df_sentiment')

In [5]:
final_df=pd.read_csv('df_sentiment')
final_df

       Unnamed: 0              user_id    cat1      cat2
0               0  1462733740090736644  proukr  Positive
1               1  1462733740090736644  proukr  Positive
2               2  1462733740090736644  proukr  Positive
3               3  1462733740090736644  proukr  Positive
4               4  1462733740090736644  proukr  Positive
...           ...                  ...     ...       ...
19310       19310  1462733740090736644  proukr  Positive
19311       19311  1462733740090736644  proukr  Positive
19312       19312  1462733740090736644  proukr  Positive
19313       19313  1462733740090736644  proukr  Positive
19314       19314  1462733740090736644  proukr  Positive

[19315 rows x 4 columns]

In [7]:
final_df['cat1'].value_counts()

proukr    19315
Name: cat1, dtype: int64

In [56]:
pd.DataFrame(df.groupby(['category','Category']).count()).rename(columns={"Category":"Counts"}).assign(
    Percentage=lambda x: (x.Counts/ x.Counts.sum())*100)

AttributeError: 'DataFrame' object has no attribute 'Counts'

In [26]:
df.nlargest(n=100, columns=['Compound'])["text"]

11611     💙💛🇺🇦💙💛🇺🇦💙💛🇺🇦💙💛🇺🇦💙💛🇺🇦💙💛🇺🇦💙💛🕊💙💛🕊💙💛🕊💙💛🕊\n#StandW...
18570     💙💛🇺🇦💙💛🇺🇦💙💛🇺🇦💙💛🇺🇦💙💛🇺🇦💙💛🇺🇦💙💛🕊💙💛🕊💙💛🕊💙💛🕊\n#StandW...
2789        … Much LOVE &amp; #GloryToUkraine #SlavaUkr...
5983        … Much LOVE &amp; #GloryToUkraine #SlavaUkr...
9446        … Much LOVE &amp; #GloryToUkraine #SlavaUkr...
                               ...
18191     Hi friends 😊 thanks\nfor all my new follows 💖...
18239     Hi friends 😊 thanks\nfor all my new follows 💖...
18518     Hi friends 😊 thanks\nfor all my new follows 💖...
18677     Hi friends 😊 thanks\nfor all my new follows 💖...
18684     Hi friends 😊 thanks\nfor all my new follows 💖...
Name: text, Length: 100, dtype: object